In [0]:
import numpy as np

In [0]:
arr1=np.arange(20).reshape(4,5)
arr1

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [0]:
# Q1 Write a numpy code to swap col1([0,5,10,15]) with col4([3,8,13,18])
arr1[:,[0,3]]=arr1[:,[3,0]]
arr1
# Hint----> Fancy Indexing

array([[ 3,  1,  2,  0,  4],
       [ 8,  6,  7,  5,  9],
       [13, 11, 12, 10, 14],
       [18, 16, 17, 15, 19]])

In [0]:
# Q2 Write a numpy code to reverse the rows of arr1
arr1[[0,3],:]=arr1[[3,0],:]
arr1
# The output should be [15, 16, 17, 18, 19] as first row and [ 0,  1,  2,  3,  4] as last row

array([[15, 16, 17, 18, 19],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [ 0,  1,  2,  3,  4]])

In [0]:
arr2=np.array([[1,2,np.nan],[4,5,6],[np.nan,np.nan,9]])
arr2

array([[ 1.,  2., nan],
       [ 4.,  5.,  6.],
       [nan, nan,  9.]])

In [0]:
# Q3 Write a code to replace all the nan(missing values) of arr2 with the mean of arr2
a=np.nanmean(arr2)
#arr2=np.array([[1,2,a],[4,5,6],[a,a,9]])
#arr2
var = np.isnan(arr2)
arr2[var]=a
arr2

array([[1. , 2. , 4.5],
       [4. , 5. , 6. ],
       [4.5, 4.5, 9. ]])

In [0]:



arr3=np.random.randint(low=1,high=100,size=20).reshape(5,4)
arr3

array([[39, 91, 79, 60],
       [46, 80, 82, 85],
       [28, 83, 60, 53],
       [78, 62, 92, 28],
       [65, 12, 21, 10]])

In [0]:
# Q4 Write a code which can fetch all items from arr3 which are either greater than 25 or a multiple of 3
list=[]
for i in range (5):
    for j in range(4):
        if ((arr3[i][j]%3==0) | (arr3[i][j]>25)):
            list.append(arr3[i][j])
list

[53, 68, 42, 42, 66, 46, 90, 56, 27, 79, 95, 92, 80, 52, 26]

In [0]:
# Q5 Write a code to find the 10th, 25th, 50th(median) percentile of arr3 
# Percentiles are a very important concept in Statistics. If you don't know about it refer the video below
# https://www.youtube.com/watch?v=Snf6Wpn-L4c
# Hint: to solve this function google np.percentile()

In [0]:
np.percentile(arr3,10)

20.1

In [0]:
np.percentile(arr3,25)

36.25

In [0]:
np.percentile(arr3,50) #percentile (.....,50) also equals to its median

61.0

value = (percentile/100)*(n+1)

In [0]:
arr3.size

20